{% extends "base.html" %}

{% block content %}

    <form action="{% url 'blog_update' blog_id=blog.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control" value="{{blog.title}}"/>
        </div>
        
        <div class="form-group">
            <label for="body">Blog</label>
            <input type="text" name="body" id="body" class="form-control" 
                    value="{{blog.body}}"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>


{% endblock content %}